<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/index.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <style>
    .slide_base{
        background-color: #000000;
        color: white;
      }
  </style>
  <body>
    <div id="spinner_wrapper">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    <div class="header">
    <nav class="navbar navbar-expand-lg ">

        <div class="gath">
          <button class="btn btn-dark btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class='bx bx-menu'></i></button>
          <img class="logo" src="https://t4.ftcdn.net/jpg/01/33/14/91/360_F_133149161_cZzY9SYCE9FjMOwMGRJ26W8OqMZx1opU.jpg" alt="">
          <a class="navbar-brand" href="#">Zakfolio</a>
          
        </div>
      </nav>
      </div>
    </div>
    <div class="offcanvas offcanvas-start slide_base" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title slide_head" id="offcanvasWithBothOptionsLabel">Home</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="slide_op">
            <form action="/proj" method="post">
                <button  type="submit" class="btn b"><li class="nav-item nav_op">&nbsp;<i class='bx bx-code-alt'></i>&nbsp;Project &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></button>
              </form>
            
            <form action="/assign" method="post">
              <button  type="submit" class="btn b"><li class="nav-item nav_op">&nbsp;<i class='bx bx-edit'></i>&nbsp;Assignment&nbsp;&nbsp;&nbsp;&nbsp;</li></button>
              
            </form>
            <form action="/assignop" method="post">
            <button  type="submit" class="btn b"><li class="nav-item nav_op">&nbsp;<i class='bx bx-trophy'></i>&nbsp;Acheivement&nbsp;&nbsp;&nbsp;&nbsp;</li></button>
            </form>
            <form action="/assignop" method="post">
            <button  type="submit" class="btn b"><li class="nav-item nav_op">&nbsp;<i class='bx bxs-briefcase'></i>&nbsp;Resumee&nbsp;&nbsp;&nbsp;&nbsp;</li></button>
            </form>
          </ul>
        </div>
      </div>
      
      <div class="text-center">
        <div class="row">
          <div class="con">
          <div class="col">
            <div class="hidden">
            <center><h1 class="welcome">Welcome to my Portfolio website</h1></center>
          </div>
            <img class="my_pic" src="./img/zakpic.jpg" alt="error">
            </div>
          </div>
       
        </div>
        <div class="row row1">
          <div class="col">
            <center><img class="img2" src="https://mattfarley.ca/img/hero-devices.svg" alt=""></center>
            <div class="hidden">
            <h1>Hi,I'm Mohd Zakie Khan.</h2>
            <h2>I'm a Front-End Web-Devloper.I also have a keen intrest in becoming a Data Scientist.Just an student who is a fresher and is has intrest in learning new things in field of Tech.<br><br>
            Currently pursuing Mtech(IT) in Davv University at Department <br> <b>Internation Institute of Professional Studies</b>,Indore</h2>
          </div>
          </div>
        </div>
        <div class="row ">
          <div class="col dom">
                <h1>Domain's worked on</h1>
                
                <div class="flex flex-50-gt-sm waypoint bars-wrap animated comp slide-in-right .container-lg" data-animation="slide-in-right">
                  <div class="bar flex emp">
                    
                    <div class="bar fill b1 hidden3">
                      <div class="tag bold flex a"><center>Python</center></div>
                      
                    </div>
                    <br>
                  </div>
    
                  <div class="bar flex emp">
                    <div class="bar fill b2 bor hidden4">
                      <div class="tag bold flex a"><center>CSS</center></div>
                      
                    </div>
                    <br>
                  </div>
    
                  <div class="bar flex emp">
                    <div class="bar fill b3 hidden2" >
                      <div class="tag bold flex a"><center>HTML</center></div>
                    </div>
                    <br>
                  </div>
    
                  <div class="bar flex emp">
                    <div class="bar fill hidden1" id="b4" >
                      <div class="tag bold flex a"><center>C++</center></div>
                    </div>
                    <br>
                  </div>
    

                  <div class="bar flex emp">
                    <div class="bar fill hidden5" id="b5">
                      <div class="tag bold flex a"><center>Javascript</center></div>
                    </div>
                    <br>
                  </div>
                
          </div>
        </div>
        <div class="row">
          <div class="col foot">
            <div class="hidden">
                <center><h2>Let's Connect Together</h2></center>
            </div>
                <div class="foot_op">
                  <center>
                
                <button  class="f1"><i class='bx bxl-instagram'></i></button>
                <a class="con" href="https://www.linkedin.com/in/zakie-khan-640170252/">
                <button class="f2"><i class='bx bxl-linkedin-square'></i></button>
                </a>
                <a class="con" href="https://github.com/zakie2003">
                  <button class="f3"><i class='bx bxl-github'></i></button>
                </a>
                <button class="f4"><i class='bx bxl-gmail'></i></button>
                  </center>
                </div>
              </div>
        </div>
      </div>
      <script>
        const observer=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show');
            }
            else{
              entry.target.classList.remove('show');
            }
          });
        });
       const hiddenelement=document.querySelectorAll(".hidden");
       hiddenelement.forEach((el)=>observer.observe(el));


       const observer1=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show1');
            }
            else{
              entry.target.classList.remove('show1');
            }
          });
        });
       const hiddenelement1=document.querySelectorAll(".hidden1");
       hiddenelement1.forEach((el)=>observer1.observe(el));


       const observer2=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show2');
            }
            else{
              entry.target.classList.remove('show2');
            }
          });
        });
       const hiddenelement2=document.querySelectorAll(".hidden2");
       hiddenelement2.forEach((el)=>observer2.observe(el));


       const observer3=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show3');
            }
            else{
              entry.target.classList.remove('show3');
            }
          });
        });
       const hiddenelement3=document.querySelectorAll(".hidden3");
       hiddenelement3.forEach((el)=>observer3.observe(el));


       const observer4=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show4');
            }
            else{
              entry.target.classList.remove('show4');
            }
          });
        });
       const hiddenelement4=document.querySelectorAll(".hidden4");
       hiddenelement4.forEach((el)=>observer4.observe(el));


       const observer5=new IntersectionObserver((entries)=>{
          entries.forEach((entry)=>{
            console.log(entry)
            if(entry.isIntersecting){
              entry.target.classList.add('show5');
            }
            else{
              entry.target.classList.remove('show5');
            }
          });
        });
       const hiddenelement5=document.querySelectorAll(".hidden5");
       hiddenelement5.forEach((el)=>observer5.observe(el));

       const spinner_wrapper1=document.getElementById("spinner_wrapper");
       window.addEventListener("load",function(){
        spinner_wrapper1.style.display="none";
       })

      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>