<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/project.css">
</head>
<style>

</style>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg ">
    
            <div class="gath">
              <button class="btn btn-dark btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class='bx bx-menu'></i></button>
              <img class="logo" src="https://t4.ftcdn.net/jpg/01/33/14/91/360_F_133149161_cZzY9SYCE9FjMOwMGRJ26W8OqMZx1opU.jpg" alt="">
              <a class="navbar-brand" href="#">Zakfolio</a>
              <span class="res">
              <button type="button" class="btn resumee btn-outline-success"><a href=""><i class='bx bxs-briefcase'></i>Resume</a></button>
              </span>
              
            </div>
          </nav>
          </div>
        </div>
        <div class="offcanvas offcanvas-start slide_base" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title slide_head" id="offcanvasWithBothOptionsLabel">Menu</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="slide_op">
                <form action="/" method="post">
                <li class="nav-item nav_op">
                  <button type="submit" class="btn"><i class='bx bx-home'></i>&nbsp; &nbsp; Home</button>
                </li>
                </form>
                <form action="/assign" method="post">
                  <li class="nav-item nav_op">
                    <button type="submit" class="btn"><i class='bx bxs-copy-alt'></i>&nbsp; &nbsp; Assignments</button>
                  </li>
                  </form>
                <li class="nav-item nav_op">
                  <button type="button" class="btn"><i class='bx bx-book'></i>&nbsp; &nbsp; Books</button>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <br>
          <center>
          <div class="comming">
            <img src="https://t4.ftcdn.net/jpg/02/73/01/63/360_F_273016394_GhsrcLEklWVC5vAotJhV2kS7R3mGtyb0.jpg" alt="err">
          </div>
          </center>
          <div>
            
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
          
</body>
</html>